<% layout("/layouts/boilerplate") -%>
<body>
    <div class="col-md-8 offset-md-2">
        <h3>Edit your Listing</h3>
        <form class="needs-validation" novalidate method="post" action="/listings/<%= listing._id %>?_method=PUT">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input
                    class="form-control"
                    type="text"
                    name="listing[title]"
                    value="<%= listing.title %>"
                    required
                />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Please Enter valid details</div>
            </div>
    
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <textarea class="form-control"name="listing[description]" required><%= listing.description %></textarea>
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Please Enter valid details</div>
            </div>
    
            <div class="mb-3">
                <label for="title" class="form-label">Image</label>
                <input
                    class="form-control"
                    type="text"
                    name="listing[image]"
                    value="<%= listing.image %>"
                    required
                />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Please Enter valid details</div>
            </div>
    
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="title" class="form-label">Price</label>
                    <input
                        class="form-control"
                        type="number"
                        name="listing[price]"
                        value="<%= listing.price %>"
                        required
                    />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please Enter valid details</div>
                </div>
        
                <div class="mb-3 col-md-8">
                    <label for="title" class="form-label">Country</label>
                    <input
                        class="form-control"
                        type="text"
                        name="listing[country]"
                        value="<%= listing.country %>"
                        required
                    />
                    <div class="valid-feedback">Looks Good!</div>
                    <div class="invalid-feedback">Please Enter valid details</div>
                </div>
            </div>
    
            <div class="mb-3">
                <label for="title" class="form-label">Location</label>
                <input
                    class="form-control"
                    type="text"
                    name="listing[location]"
                    value="<%= listing.location %>"
                    required
                />
                <div class="valid-feedback">Looks Good!</div>
                <div class="invalid-feedback">Please Enter valid details</div>
            </div>
    
            <button class="btn btn-crimson mb-3">Edit</button>
        </form>
    </div>
</body>
